body{
    background-color: #282240;
    margin: 20px;
    font-size: 16px;
    font-family: Calibri;
}

p{
    line-height: 1.5;
}

#titulo-pricipal {
    color : rgba(194, 202, 216, 0.761);
    text-align: center;
    font-size: 40px;
}
.paragrafo1 {
    text-align: justify;
    color: #f4e5c9;
    line-height: 1.5;
}
.paragrafo2 {
    text-align: justify;
    color: #f4e5c9;
    line-height: 1.5;
}
#banner{
    width: 800px ; /*largura */
    display: block;
    margin: auto;
}

.imgesquerda{
    width: 400px;
    margin: 10px;
    padding: 10px; 
    border-radius: 10px;
    border: solid 3px whitesmoke;
}

.cabecalho{
    background-image: linear-gradient(#414c297e, #377a7c);
    text-align: center;
}

.principal{
    background-image: linear-gradient(#377c6b, #e3ec92);
}
